<h1 style="font-family:'Times New Roman', Times, serif">Welcome</h1>

<p>
    Welcome to story books 1.0.0
</p>
<p>
    Post stories 
</p>

<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>
